<!DOCTYPE html>
<html>
  <head>
    <title>Meinsack - legal</title>
{% include "_head.html" %}
  </head>

  <body>
    <div class="container">
      <h1 class="title has-text-centered mt-5">Legal / Impressum</h1>

      <div class="columns">
        <div class="column is-3">
        </div>
        <div class="column is-6 mx-2">
	  <h2 class="subtitle">Contact</h2>
	  <p>Andreas Madsack<br/>
	    Sterneckerstr. 6<br/>
	    70563 Stuttgart<br/>
	    Germany<br/>
	    info(at)madflex(dot)de
          </p>

	  <h2 class="subtitle mt-5">Limitation of liability for internal content</h2>
	  <p>The content of our website has been compiled with meticulous care and to the best of our knowledge. However, we cannot assume any liability for the up-to-dateness, completeness or accuracy of any of the pages.</p>
	  <p>Pursuant to section 7, para. 1 of the TMG (Telemediengesetz –  Tele Media Act by German law), we as service providers are liable for our own content on these pages in accordance with general laws. However, pursuant to sections 8 to 10 of the TMG, we as service providers are not under obligation to monitor external information provided or stored on our website. Once we have become aware of a specific infringement of the law, we will immediately remove the content in question. Any liability concerning this matter can only be assumed from the point in time at which the infringement becomes known to us.</p>

          <h2 class="subtitle mt-5">This site doesn't need Cookies.</h2>
        </div>
      </div>
      {% include "_footer.html" %}
    </div>
</body>
