<footer class="footer">
  <div class="tile is-vertical is-primary is-center">
     <article class="tile is-child notification is-info">
    <div class="columns">
      <div class="column has-text-centered">
        <a href="/">Home</a>
      </div>
      <div class="column has-text-centered">
        <a href="/meinsack/">API</a>
      </div>
      <div class="column has-text-centered">
        <a href="https://github.com/mfa/meinsack-datasette">Github</a>
      </div>
      <div class="column has-text-centered">
        <a href="/faq">FAQ</a>
      </div>
      <div class="column has-text-centered">
        <a href="/legal">Impressum</a>
      </div>
    </div>
  </div>
</footer>
